---
import { getCollection, type CollectionEntry } from 'astro:content';
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE, MENU, type MenuItem } from '../consts';

const posts = await getCollection('blog') as CollectionEntry<'blog'>[];
---

<header>
  <h1><HeaderLink href="/">{SITE_TITLE}</HeaderLink></h1>

  {MENU.map(item => (
    <div class="menu-group">
      <p class="category-title">{item.label}</p>

        {item.children?.map(sub => {
          const prefix = sub.path!.split('?')[0].replace(/^\//, '');
          console.log(prefix);
          const list = posts.filter(p => p.id.startsWith(prefix + '/'));

          return (
            <details class="submenu">
              <summary>
                <HeaderLink href={sub.path!}>{sub.label}</HeaderLink>
              </summary>
              {list.length > 0 && (
                <ul>
                  {list.map(post => (
                    <li>
                      <HeaderLink href={`/${post.id}`}>
                        {post.data.title}
                      </HeaderLink>
                    </li>
                  ))}
                </ul>
              )}
            </details>
          );
        })}

        {/* path しかない単独カテゴリ（例：About） */}
        {/* {item.children === undefined && item.path && (
          <HeaderLink href={item.path} class="single-link">
            {item.label}
          </HeaderLink>
        )} */}
    </div>
  ))}

  <div class="social">
    <!-- SVG アイコン -->
  </div>
</header>
<style>
header {
  display: flex;
  flex-direction: column;
  padding: 1em;
  background: var(--color-bg-soft);
  color: var(--color-text);
}

h1 {
  font-size: 1.4em;
  font-weight: 400;
  font-style: italic;
  border-bottom: 2px solid var(--color-subtle);
  letter-spacing: .1em;
}

strong,
b {
	/* font-weight: 700; */
}
a {
	color: var(--color-accent-dark);
}
a:hover {
	color: var(--color-accent);
}

.category-title {
  font-size: 1.2em;
  margin: 0.5em 0 0.5em;
  color: var(--color-text);
  letter-spacing: .15em;
}

.submenu {
  font-size: 1.1em;
  margin: 0.25em 0 0.25m;
  letter-spacing: .2em;
}
.submenu > summary {
  cursor: pointer;
  font-size: 1em;
}
.submenu ul {
  list-style: none;
  margin: 0;
  padding: 0 0 0 1em;
}
.submenu li {
  margin: 0.25em 0;
  letter-spacing: normal;
}

.single-link {
  display: block;
  margin: 0.5em 0 1em;
  color: var(--color-text);
  text-decoration: none;
}

.social {
  margin-top: auto;
  display: flex;
  gap: 0.5em;
}

.app main {
  margin-left: 240px;
}
</style>
  
