---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Layout from './Layout.astro';
import FormattedDate from '../components/FormattedDate.astro';
import '../styles/typography.css';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---
<html lang="ja">
<head>
	<BaseHead title={title} description={description} />
</head>
<body>
	<Layout>
		<article>
			<div class="hero-image">
				{heroImage && <img width={1020} height={510} src={heroImage} alt="" />}
			</div>
			<div class="typography">
				<div class="title">
					<div class="date">
						<FormattedDate date={pubDate} />
						{updatedDate && (
						<div class="last-updated-on">
							Last updated on <FormattedDate date={updatedDate} />
						</div>
						)}
					</div>
					<h1 class="page-title">{title}</h1>
				</div>
				<slot />
			</div>
		</article>
	</Layout>
</body>
<style>
.title {
  position: relative;
}

.date {
  position: absolute;
  right: 0;
  bottom: 0.1em;
  font-size: 0.9em;
  color: var(--color-subtle);
}

</style>
</html>
